
.om-meg {
    background-color: #0d0620;
  }
  
  .textbox-om {
    padding: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .text-container {
    justify-content: flex-start;
  }
  
  .nameTitle-om {
    color: #e4c982;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: "Manjari", sans-serif;
  }
  
  .textfill-om {
    color: #ffffff;
    font-size: 19px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 29px;
    margin-top: 20px;
    font-family: "Manjari", sans-serif;
  }
  
  /* Section: om meg screensize 800 */
  @media (max-width: 800px) {
    .textbox-om {
      padding: 118px;
    }
  
    .textfill-om {
      font-size: 15px;
      line-height: 25px;
    }
  }
  
  /* Section: om meg screensize 480 */
  @media (max-width: 480px) {
    .textbox-om {
      padding: 59px;
    }
  }
  
  /* Section: om meg phonesize 375 */
  @media (max-width: 375px) {
    .textbox-om {
      padding: 65px;
    }
  
    .nameTitle-om {
      font-size: 19px;
    }
  
    .textfill-om {
      font-size: 15px;
      line-height: 23px;
    }
  }
  
  /* Section: om meg phonesize 320 */
  @media (max-width: 320px) {
    .textbox-om {
      padding: 40px;
    }
  
    .nameTitle-om {
      font-size: 19px;
      letter-spacing: 2px;
    }
  }
  