
.opa {
  background-color: #0d0620;
  padding-top: 200px;
  padding-left: 250px;
  padding-right: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opa-container{
    width: 1040px;
}

/* Section: opa screensize 1280 */
@media (max-width: 1280px) {
    .opa-container{
        width: 890px;
    }
}

/* Section: opa screensize 1024 */
@media (max-width: 1024px) {
    .opa-container{
        width: 690px;
    }

    .opa {
       padding-top: 120px;
    }

    .textfill-om {
        margin-bottom: 90px;
      }
}

/* Section: opa screensize 800 */
@media (max-width: 800px) {
    .opa-container{
        width: 590px;
    }
}

/* Section: opa screensize 700 */
@media (max-width: 700px) {
    .opa-container{
        width: 550px;
    }
}

/* Section: opa screensize 600 */
@media (max-width: 600px) {
    .opa-container{
        width: 450px;
    }

    .opa {
       padding-top: 90px;
    }
}

/* Section: opa screensize 550 */
@media (max-width: 550px) {
    .opa-container{
        width: 400px;
    }
      .opa {
       padding-top: 70px;
    }
}

/* Section: opa screensize 500 */
@media (max-width: 500px) {
    .opa-container{
        width: 350px;
    }
    .opa {
        padding-top: 60px;
        padding-left: 140px;
        padding-right: 140px;
      }

}

/* Section: opa screensize 450 */
@media (max-width: 450px) {
    .opa-container{
        width: 342px;
    }
    
    .opa {
        padding-top: 40px;
      }
   
}

/* Section: opa screensize 410 */
@media (max-width: 410px) {
    .opa-container{
        width: 290px;
    }
}

/* Section: opa screensize 360 */
@media (max-width: 360px) {
    .opa-container{
        width: 260px;
    }
}

/* Section: opa screensize 320 */
@media (max-width: 320px) {
    .opa-container{
        width: 230px;
    }
}

/* /////////////////////// */
/* /////////Om meg/////// */
/* ///////////////////// */

.nameTitle-om {
  color: #e4c982;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "Manjari", sans-serif;
}

.textfill-om {
  color: #ffffff;
  font-size: 17px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 29px;
  margin-top: 20px;
  margin-bottom: 170px;
  font-family: "Manjari", sans-serif;
}

/* Section: om meg screensize 800 */
@media (max-width: 800px) {
  .nameTitle-om {
  font-size: 20px;
}

  .textfill-om {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 120px;
  }

  .textfill-om {
    font-weight: normal;
  }
}

/* Section: om meg screensize 550 */
@media (max-width: 550px) {
    .nameTitle-om {
        font-size: 20px;
      }

      .textfill-om {
        font-size: 15.5px;
        line-height: 24px;
        margin-bottom: 100px;
      }
}

/* Section: om meg screensize 500 */
@media (max-width: 500px) {
    .nameTitle-om {
        font-size: 20px;
      }

      .textfill-om {
        font-size: 15.5px;
        line-height: 24px;
      }
}

/* Section: om meg phonesize 375 */
@media (max-width: 375px) {
  .nameTitle-om {
    font-size: 18px;
  }
  .textfill-om {
    font-size: 15px;
    line-height: 24px;
  }
}

/* Section: om meg phonesize 320 */
@media (max-width: 320px) {
  .nameTitle-om {
    font-size: 18px;
    letter-spacing: 2px;
  }
}

/* /////////////////////// */
/* //////Portfolie/////// */
/* ///////////////////// */

html {
  scroll-behavior: smooth;
}

.portfolie {
  background-color: #0d0620;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolie-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.column-wrapper {
  display: grid;
  grid:
    "photot1 photo2 photo3 photoBig"
    "photo4 photo5 photo6 photoBig";
  justify-content: center;
  gap: 20px;
}

.photo {
  position: relative;
  width: 245px;
  height: 323px;
  border-radius: 19px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
 transition: background-color 1.5s ease-in-out, color 1.s ease-in-out;
}

/* Hover: bytt bakgrunn og vis tekst */
.photo:hover {
  background-image: none; /* fjerner bildet */
  background-color: #0d1134; /* blåfarge på bakside */
}

/* Tekst over bildet */
.photo::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: transparent; /* skjult som standard */
  font-family: "Manjari", sans-serif;
  font-size: 20px;
  transition: color 0.5s ease;
}

.photo:hover::before {
  color: #ffffff; /* vis tekst */
}


.photo1 {
  background-image: url("/portfolie/din-veske.webp");
  background-size: cover;
  grid-area: photo1;
  cursor: pointer;
}

.photo2 {
  background-image: url("/public/portfolie/annonsesome-ny2.webp");
  background-size: cover;
  grid-area: photo2;
  cursor: pointer;
}
.photo3 {
  background-image: url("/public/nettsider/nettside-ny.webp");
  background-size: cover;
  grid-area: photo3;
  cursor: pointer;
}

.photo4 {
  background-image: url("/portfolie/annonsemagasin.webp");
  background-size: cover;
  grid-area: photo4;
  cursor: pointer;
}
.photo5 {
  background-image: url("/portfolie/opllogo.webp");
  background-size: cover;
  grid-area: photo5;
  cursor: pointer;
}
.photo6 {
  background-image: url("/portfolie/nyhetsbrev.webp");
  background-size: cover;
  grid-area: photo6;
  cursor: pointer;
}

.photoBig {
  background-image: url("/portfolie/rollup.webp");
  background-size: cover;
  grid-area: photoBig;
  width: 245px;
  height: 669px;
  border-radius: 19px;
  cursor: pointer;
  position: relative;
  transition: background-color 1.5s ease-in-out, color 1.s ease-in-out;
  overflow: hidden;
}

.photoBig:hover {
  background-image: none;
  background-color: #0d1134;
  transform: rotateY(180deg);
}

.photoBig::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-family: "Manjari", sans-serif;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.photoBig:hover::before {
  opacity: 1;
}

/* portfolie 1280 */
@media (max-width: 1280px) {
  .portfolie-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .photo {
    width: 207px;
    height: 293px;
  }

  .photoBig {
    width: 207px;
    height: 610px;
  }
}

/* portfolie 1024 */
@media (max-width: 1024px) {
  .column-wrapper {
    display: grid;
    grid:
      "photoBig photo2 photo3 photo1"
      "photoBig photo5 photo6 photo4";
    justify-content: center;
  }

  .photo {
    width: 160px;
    height: 210px;
  }

  .photoBig {
    width: 160px;
    height: 440px;
  }
}

/* portfolie 800 */
@media (max-width: 800px) {
  .column-wrapper {
    gap: 13px;
  }
  .photo {
    width: 135px;
    height: 180px;
  }

  .photoBig {
    width: 135px;
    height: 370px;
  }
}

/* portfolie 700 */
@media (max-width: 700px) {
.column-wrapper {
    display: grid;
    grid:
      "photoBig photo3 photo1"
      "photoBig photo5 photo2"
      "photoBig photo6 photo4";
    justify-content: center;
    gap: 13px;
  }

  .photo {
    width: 160px;
    height: 207px;
  }

  .photoBig {
    width: 190px;
    height: 650px;
  }
}

/* portfolie 600 */
@media (max-width: 600px) {
  .column-wrapper {
    display: grid;
    grid:
      "photo1 photo2"
      "photoBig photo3"
      "photoBig photo5"
      "photo6 photo4";
    justify-content: center;
    gap: 13px;
  }
  .photo {
    width: 212px;
    height: 282px;
  }

  .photoBig {
    width: 212px;
    height: 577px;
  }
}


/* portfolie 550 */
@media (max-width: 550px) {
    .photo {
      width: 190px;
      height: 250px;
    }
  
    .photoBig {
      width: 190px;
      height: 510px;
    }
  }

  /* portfolie 500 */
@media (max-width: 500px) {
    .photo {
      width: 165px;
      height: 225px;
    }
  
    .photoBig {
      width: 165px;
      height: 462px;
    }
  }

/* portfolie 410 */
@media (max-width: 410px) {
    .photo {
        width: 135px;
        height: 175px;
        border-radius: 12px;
      }
    
      .photoBig {
        width: 135px;
        height: 363px;
        border-radius: 12px;
      }

}

/* portfolieside 375 */
@media (max-width: 375px) {
  .portfolie-container {
    margin-top: 10px;
  }

  .column-wrapper {
    display: grid;
    grid:
      "photo1 photo2"
      "photoBig photo3"
      "photoBig photo5"
      "photo6 photo4";
    justify-content: center;
    gap: 13px;
  }
  .photo {
    width: 122px;
    height: 165px;
  }

  .photoBig {
    width: 122px;
    height: 340px;
  }
}

/* portfolieside 360 */
@media (max-width: 360px) {
    .photo {
      width: 22px;
      height: 145px;
    }
  
    .photoBig {
      width: 102px;
      height: 340px;
    }
  }


/* portfolieside 375 */
@media (max-width: 375px) {
  .portfolie-container {
    margin-top: 0px;
  }

  .column-wrapper {
    display: grid;
    grid:
      "photo1 photo2"
      "photoBig photo3"
      "photoBig photo5"
      "photo6 photo4";
    justify-content: center;
    gap: 13px;
  }
  .photo {
    width: 132px;
    height: 172px;
  }

  .photoBig {
    width: 132px;
    height: 355px;
  }
}

/* portfolieside 320 */
@media (max-width: 320px) {
  .photo {
    width: 103px;
    height: 146px;
  }

  .photoBig {
    width: 103px;
    height: 307px;
  }
}

/* /////////////////////// */
/* /////////Attest/////// */
/* ///////////////////// */

.attester {
  background-color: #0d0620;
}
.textbox-attest {
  padding-top: 190px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.text-container {
  justify-content: flex-start;
}

.nameTitle-attest {
  color: #e4c982;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "Manjari", sans-serif;
}

.textfill-attest {
  color: #ffffff;
  font-size: 17px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 29px;
  margin-top: 20px;
  font-family: "Manjari", sans-serif;
}

.logo-wrapper {
  display: flex;
  justify-content: end;
}

.logo-amedia {
  width: 110px;
  height: 26px;
  background-image: url(/public/attest/logo-amedia.png);
  background-size: cover;
  border: none;
  margin-top: 40px;
}

/* Section: attest screensize 1400 */
@media (max-width: 1400px) {
  .textbox-attest {
    padding-top: 120px;
    padding-bottom: 200px;
  }
}

/* Section: attest screensize 1350 */
@media (max-width: 1350px) {
  .textbox-attest {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}


/* Section: attest screensize 800 */
@media (max-width: 800px) {
.nameTitle-attest {
        font-size: 20px;
      }

  .textfill-attest {
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
  }
}

/* Section: attest screensize 550 */
@media (max-width: 550px) {
  
  .textbox-attest {
  padding-top: 110px;
}

    .nameTitle-attest {
        font-size: 20px;
      }

    .textfill-attest {
      font-size: 15.5px;
      line-height: 23px;
      font-weight: normal;
    }
  }

/* Section: attest screensize 500 */
@media (max-width: 500px) {

    .nameTitle-attest {
        font-size: 20px;
      }

    .textfill-attest {
      font-size: 15.5px;
      line-height: 23px;
      font-weight: normal;
    }
  }


/* Section: attester phonesize 375 */
@media (max-width: 375px) {
  .nameTitle-attest {
    font-size: 18px;
  }

  .textfill-attest {
    font-size: 15px;
    line-height: 23px;
  }

  .logo-amedia {
    width: 90px;
    height: 21px;
    background-image: url(/public/attest/logo-amedia.png);
    background-size: cover;
    border: none;
    margin-top: 50px;
  }
}

/* Section: portfolie phonesize 320 */
@media (max-width: 320px) {
  .nameTitle-attest {
    font-size: 18px;
    letter-spacing: 2px;
  }
}
