* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  .cv {
    background-color: #0d0620;
    padding-top: 70px;
  }
  
  .cv-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .workexperience{
    padding-left: 550px;
    margin-bottom: 150px;
  }
  
  /* ////////////////////// */
  /* Bilde og tekst av meg */
  /* //////////////////// */
  
  .id {
    width: 394px;
    height: 464px;
    position: fixed;
    top: 0;
    margin-left: 200px;
    margin-top: 110px;
    margin-bottom: 20px;
  }
  
  .photo-profil {
    width: 224px;
    height: 224px;
    background-image: url(/public/profil/meg.png);
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-bottom: 50px;
  }
  
  .name-profil {
    font-family: "Manjari", sans-serif;
    font-size: 28px;
    color: #ffffff;
    margin-left: 30px;
  }
  
  .stilling-profil {
    font-family: "Manjari", sans-serif;
    color: #e4c982;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 3px;
    margin-left: 30px;
  }
  
  .stillingTo-profil {
    font-family: "Manjari", sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 3px;
    margin-top: 5px;
    margin-left: 30px;
  }
  

  
  /* //////////////// */
  /* Arbeidserfaring */
  /* ////////////// */
  
  
  .nameTitle-cv {
    color: #ffffff;
    font-size: 19px;
    font-weight: lighter;
    letter-spacing: 4px;
    font-family: "Manjari", sans-serif;
    margin-top: 60px;
  }
  
  .textfill-cv {
    color: #e4c982;
    font-size: 27px;
    letter-spacing: 3px;
    font-family: "Manjari", sans-serif;
    font-weight: bold;
    margin-top: 14px;
  }
  
  .timePlaceOne {
    color: #ffffff;
    font-size: 12px;
    font-family: "Manjari", sans-serif;
  }
  
  .timePlaceTwo {
    color: #ffffff;
    font-size: 12px;
    font-family: "Manjari", sans-serif;
    margin-top: 5px;
  }
  
  .job {
    margin-top: 60px;
  }
  
  .jobName {
    color: #ffffff;
    font-size: 23px;
    font-family: "Manjari", sans-serif;
    margin-top: 30px;
  }
  
  .jobInfo {
    color: #ffffff;
    font-size: 13px;
    font-family: "Manjari", sans-serif;
    line-height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .program-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 610px;
    gap: 10px;
  }
  
  .programButton {
    background-color: #0a152a;
    color: #ecdbb0;
    font-family: "Manjari", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    border-radius: 19px;
    width: fit-content;
    padding: 12px;
    border: none;
  }
  
  /* /////////// */
  /* Sommerjobb */
  /* ///////// */
  
  .summerJob {
    margin-top: 80px;
  }
  
  .nameTitle-summerjob {
    color: #e4c982;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: "Manjari", sans-serif;
    font-weight: bold;
    padding-top: 70px;
    margin-bottom: 25px;
  }
  
  .timePlaceOneSummerjob {
    color: #ffffff;
    font-size: 12px;
    font-family: "Manjari", sans-serif;
  }
  
  .summerjob-wrapper-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .summerjob-wrapper-text-inside {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .jobNameSummerjob {
    color: #ffffff;
    font-size: 23px;
    font-family: "Manjari", sans-serif;
  }
  
  .jobInfoSummerjob {
    color: #ffffff;
    font-size: 13px;
    font-family: "Manjari", sans-serif;
    margin-top: 7px;
    margin-left: 10px;
  }
  
  /* ////////// */
  /* Utdanning */
  /* //////// */
  
  .myeducation {
    margin-top: 40px;
  }
  
  .nameTitle-education {
    color: #e4c982;
    font-size: 27px;
    letter-spacing: 3px;
    font-family: "Manjari", sans-serif;
    font-weight: bold;
    margin-top: 80px;
  }
  
  .timePlaceOneEducation {
    color: #ffffff;
    font-size: 12px;
    font-family: "Manjari", sans-serif;
  }
  
  .NameEducation {
    color: #ffffff;
    font-size: 23px;
    font-family: "Manjari", sans-serif;
    margin-top: 30px;
  }
  
  .InfoEducation {
    color: #ffffff;
    font-size: 13px;
    font-family: "Manjari", sans-serif;
    line-height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  /* ///// */
  /* Kurs */
  /* /// */
  
  .mycourse {
    margin-top: 50px;
  }
  
  .nameTitle-course {
    color: #e4c982;
    font-size: 27px;
    letter-spacing: 3px;
    font-family: "Manjari", sans-serif;
    font-weight: bold;
    margin-top: 70px;
  }
  
  .timePlaceOnecourse {
    color: #ffffff;
    font-size: 12px;
    font-family: "Manjari", sans-serif;
  }
  
  .Namecourse {
    color: #ffffff;
    font-size: 23px;
    font-family: "Manjari", sans-serif;
    margin-top: 30px;
  }
  
  .Infocourse {
    color: #ffffff;
    font-size: 13px;
    font-family: "Manjari", sans-serif;
    line-height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  
  /* ///////////////////////////////////////// */
  /* Section: arbeidserfaring screensize 1280 */
  /* /////////////////////////////////////// */

  @media (max-width: 1280px){
    .id {
      margin-left: 170px;
      margin-top: 110px;
    }

    .workexperience {
      padding-left: 500px;
    }
  }

  /* ///////////////////////////////////////// */
  /* Section: arbeidserfaring screensize 1024 */
  /* /////////////////////////////////////// */
  
  @media (max-width: 1024px) {
    .cv {
      padding-top: 40px;
      padding-left: 40px;
    }

    .id {
      margin-left: 80px;
      margin-top: 110px;
    }

    .workexperience {
      padding-left: 400px;
    }
  
    .photo-profil {
      width: 204px;
      height: 204px;
    }


  .name-profil {
    font-size: 25px;
  }
  
  .stilling-profil {
    font-size: 17px;
  }
  
  .stillingTo-profil {
    font-size: 17px;
  }
  
    .program-container {
      width: 430px;
    }
  
    .nameTitle-cv {
      padding-top: 30px;
    }
  
    .linkCV {
      padding-inline-start: 20px;
    }
  }
  
  /* //////////////////////////////////////// */
  /* Section: arbeidserfaring screensize 800 */
  /* ////////////////////////////////////// */
  
  @media (max-width: 800px) {
    .cv {
      padding-top: 40px;
    }

    .id{
      display: none;
    }
  
    .photo-profil {
      width: 214px;
      height: 214px;
    }
  
    .job {
      margin-top: 10px;
    }
  
    .nameTitle-cv {
      font-size: 20px;
      padding-top: 10px;
    }

    .workexperience {
      padding-left: 100px;
      width: 680px;
    }
  
    .program-container {
      display: none;
    }
  
  
    .nameTitle-summerjob {
      font-size: 28px;
      padding-top: 60px;
      margin-bottom: 15px;
    }
  
    .summerJob {
      margin-top: 30px;
    }
  
    .myeducation {
      margin-top: 20px;
    }
  
    .nameTitle-education {
      font-size: 28px;
      padding-top: 60px;
      margin-bottom: 15px;
    }
  
    .mycourse {
      margin-top: 20px;
    }
  
    .nameTitle-course {
      font-size: 28px;
      padding-top: 60px;
    }
  }
  
  /* //////////////////////////////////////// */
  /* Section: arbeidserfaring screensize 768 */
  /* ////////////////////////////////////// */
  
  @media (max-width: 768px) {
    .cv {
      padding-top: 10px;
      padding-left: 20px;
    }
  
    .workexperience {
      width: 650px;
    }

    .nameTitle-summerjob {
      margin-top:20px;
    }
  
    .nameTitle-education {
      margin-top:20px;
    }
  
    .nameTitle-course {
      margin-top:20px;
    }

  }
  
  /* //////////////////////////////////////// */
  /* Section: arbeidserfaring screensize 600 */
  /* ////////////////////////////////////// */
  
  @media (max-width: 600px) {
    .cv {
      padding-top: 10px;
      padding-left: 10px;
    }
  
    .workexperience {
      width: 500px;
    }

    .textfill-cv{
      font-size: 27px;
    }

    .nameTitle-summerjob {
      margin-top:20px;
      font-size: 24px;
    }
  
    .nameTitle-education {
      margin-top:20px;
      font-size: 27px;
      
    }
  
    .nameTitle-course {
      margin-top:20px;
      font-size: 27px;
    }
  }
  
  /* //////////////////////////////////////// */
  /* Section: arbeidserfaring screensize 480 */
  /* ////////////////////////////////////// */
  
  @media (max-width: 480px) {
    .cv {
      padding-top: 10px;
      padding-left: 0px;
    }
  
    .workexperience {
      width: 400px;
      padding-left: 70px;
    }
    .textfill-cv{
      font-size: 24px;
    }

    .nameTitle-summerjob {
      margin-top:20px;
      font-size: 21px;
    }
  
    .nameTitle-education {
      margin-top:20px;
      font-size: 24px;
    
    }
  
    .nameTitle-course {
      margin-top:20px;
      font-size: 24px;
    }

  /* //////////////////////////////////////// */
  /* Section: arbeidserfaring screensize 425 */
  /* ////////////////////////////////////// */
  
  @media (max-width: 425px){
    .workexperience {
      padding-left: 65px;
      width: 350px;
    }
  }
   
    /* //////////////////////////////////////// */
    /* Section: arbeidserfaring screensize 375 */
    /* ////////////////////////////////////// */
  
    @media (max-width: 375px) {
  
      .workexperience {
        padding-left: 55px;
        width: 300px;
      }
  
      .nameTitle-cv {
        font-size: 18px;
        letter-spacing: 3px;
      }

      .textfill-cv{
        font-size: 22px;
        margin-bottom: 30px;
      }
  
      .nameTitle-summerjob {
        font-size: 20px;
        letter-spacing: 3px;
        padding-top: 40px;
      }
  
      .nameTitle-education {
        font-size: 22px;
        letter-spacing: 3px;
        padding-top: 40px;
      }
  
      .nameTitle-course {
        font-size: 22px;
        letter-spacing: 3px;
        padding-top: 40px;
      }
  
      .jobInfoSummerjob {
        margin-left: 10px;
      }
  
      /* //////////////////////////////////////// */
      /* Section: arbeidserfaring screensize 320 */
      /* ////////////////////////////////////// */
  
      @media (max-width: 320px) {

        .workexperience {
          padding-left: 55px;
          width: 270px;
        }
    
        .nameTitle-cv {
          font-size: 15px;
          letter-spacing: 3px;
        }
  
        .textfill-cv{
          font-size: 20px;
          margin-bottom: 30px;
        }
    
        .nameTitle-summerjob {
          font-size: 18px;
          letter-spacing: 3px;
          padding-top: 40px;
        }
    
        .nameTitle-education {
          font-size: 20px;
          letter-spacing: 3px;
          padding-top: 40px;
        }
    
        .nameTitle-course {
          font-size: 20px;
          letter-spacing: 3px;
          padding-top: 40px;
        }
    
        .jobInfoSummerjob {
          margin-left: 10px;
        }

        .jobName {
          font-size: 19px;
        }

        .jobNameSummerjob{
          font-size: 19px;
        }

        .NameEducation{
          font-size: 19px;

        }
                /* .cv {
      padding-top: 70px;
      padding-left: 45px;
    }
  
        .workexperience {
          width: 215px;
        }
  
        .nameTitle-cv {
          font-size: 21px;
          letter-spacing: 2px;
        }
  
        .jobName {
          font-size: 21px;
        }
  
        .nameTitle-summerjob {
          font-size: 20px;
          letter-spacing: 2px;
        }
  
        .jobNameSummerjob {
          font-size: 20px;
        }
  
        .jobInfoSummerjob {
          margin-top: 4px;
          margin-left: 10px;
        }
  
        .nameTitle-education {
          font-size: 21px;
          letter-spacing: 2px;
        }
  
        .nameTitle-course {
          font-size: 21px;
          letter-spacing: 2px;
        }
      }
    } */
      }}}
  